/* styles for the citiy component */
h1 {
    color: #333;
}

h2, p {
    color: #333;
}

.forecast-icon {
    
}

.table>thead>tr>th {
    font-size: 17px;
    color: #333;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.forecast-info {
    text-align: center;
    
    font-size: 15px;
}

.table{
    
    flex-wrap: wrap;
    margin: 0 0 0em 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


